# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Xcode local user state
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode build products and archives
DerivedData/
*.xcarchive
*.dSYM
*.dSYM.zip
*.ipa
